.header > h3 {
    color: #1E1E1E;
    font-weight: 500;
    font-size: 30px;
    padding: 25px 15px;
}

.message-content {
    height: 87vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.compose {
    width: 70%;
    margin: auto;
}

.compose > h4 {
    color: #535353;
    font-weight: 600;
    margin-bottom: 20px;
}

.compose-container {
    border: 1px solid #BEBEBE;
    padding: 40px;
    border-radius: 8px;
}

.compose-container > div {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 5px 0;
}

.compose-container > div > p {
    color: #1E1E1E;
    font-size: 13px;
    font-weight: 400;
}

.compose-container > div > input {
    padding: 8px;
    width: 100%;
    border: 0;
    outline: 0;
    font-weight: 500;
    color: #007C88;
    font-size: 13px;
}

.compose-container > textarea {
    margin-top: 1rem;
    width: 100%;
    resize: none;
    border: 0;
    outline: 0;
    height: 200px;
    font-weight: 500;
    color: #007C88;
    font-size: 13px;
}

.compose-container > div > input::placeholder, .compose-container > textarea::placeholder {
    color: #BEBEBE;
}

.compose > button {
     background: #007C88;
    padding: 15px 35px;
    display: block;
    margin: 18px 0 0 auto;
    cursor: pointer;
    border-radius: 8px;
    color: #fff;
    font-weight: 500;
    border: 1px solid transparent;
    outline: 0;
}

.compose > button:hover {
    background: #007d8811;
    border-color: #007C88;
    color: #007C88;
    transition: all .8s ease;
}